/********************************** BASE TAGS & ELEMENTS ***************************************/
*{
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
   hyphens: auto;
}
body{
   font-size: 1.25rem;
}

header{
   background: rgba(0, 0, 0, .1);
   width: 100%;
   position:fixed;
   top: 0;
}
h1{
   font-size: 1.5rem;
   float: right;
   padding: 1.5rem .5rem ;
   margin: 0;
}
body{
   background: linear-gradient(#525252, #4f4f4f,#4a4a4a);
   color: white;
   line-height: 1.3;
   letter-spacing: 1px;
}

section{
   padding:2rem ;
   width: 100%;
}
footer{
   text-align: center;
   margin-top: auto;
   padding: 0 1rem;
   border-top: solid white 1px;
}
a{
   text-decoration: none;
   color: #fff;
}
:active{
   color: #fff;
}
a:hover, a:focus{
   color: orange;
}
button{
   cursor: pointer;
}
h2{
   font-size: 2rem;
   margin:0;
}
h3{
   font-size: 1.75rem;
   margin: 0;
   margin-top: .75rem;
}
ul{
   margin: 0;
}
p{
   font-size: 1.25rem;
   margin-top: 0;
}
img{
   width: 100%;
   height: auto;
}
/********************************** Mobile NavBar ***************************************/
.overlay{
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 210;
   left: 0;
   top: 15px;
   background: rgba(0,0,0,.9);
   overflow-x: hidden;
   transition: 0.5s;
}

.overlay-content{
   position: relative;
   top: 10%;
   width: 100%;
   text-align: center;
   margin-top: 1.75rem;
   padding:0;
}
.overlay-content button{
   border: none;
   background: transparent;
   color: white;
   vertical-align: top;
}
.overlay-content button:hover{
   color: orange;
}
.overlay-content input{
   font-size: 2.5rem;
   background: rgb(0,0,0,.5);
   color: white;
   outline: none;
   border: none;
   border-radius: 10px/20px;
   width: 50%;
}
.overlay-content input::placeholder{
   color: #bfc1c2;
   font-size: 1.3rem;
}

.overlay a{
   padding: .5rem;
   font-size: 2.5rem;
   display: block;
   transition: 0.3s;
}



.overlay .closebtn{
   position: absolute;
   top: 0;
   right: 2rem;
   font-size: 3rem;
}

#nav-btn{
   padding: 1rem;
}
#nav-btn:hover{
   cursor: pointer;
}
#nav-btn span{
   width: 35px;
   height: 3px;
   background-color: white;
   display: block;
   margin: 6px 0;
}

.material-icons{
   font-size: 2.5rem;
}

/********************************* FORM*************************************************/
.popup-Mesg,
.popup-SuForm,
.popup-LiForm{
   display: none;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100vh;
   overflow: auto;
   background:linear-gradient(45deg,rgba(53,56,57,.7),rgba(36,33,36,.6),rgba(0, 0, 0, .4) ) ;
   z-index: 1; 
}

.form-wrap{
   width:80%;
   display: flex;
   flex-direction: column;
   border-radius: 20px;
   margin:10% 10%;
   background: rgba(0, 0, 0, .7);
   padding: 1rem;
}
.form-wrap a{
   font-size: 1.2rem;
}
.form-wrap label{
   font-weight: 700;
   padding:  0;
}
.form-wrap input,
.form-wrap textarea{
   margin: 0 0 .5rem;
   border-radius: 20px;
   background: transparent;
   color: #fff;
   box-shadow: inset 1px 1px 10px rgba(0, 0, 0, .5);
   border: 1px #525252 solid;
   padding:.5rem;
}
input::placeholder,
textarea::placeholder{
   color:#bfc1c2;
}

.form-wrap button{
   margin: auto 10%;
   margin-bottom:1.5rem;
}

.form-wrap .close{
   background: linear-gradient(-45deg, #f50000 , #cc0000, #a30000);
}
.cancel{
   color:red ;
   font-size: 3rem;
   position: absolute;
   right: 20px;
   top: 10px;
   z-index: 3;
}
#rem{
   width: fit-content;
   margin-bottom: 1rem;
}


.form-wrap p{
   text-align: center;
}
.form-wrap a{
   color: #ff8c00;
}

.form-wrap a:hover{
   color: #fff;
}
/********************************** LAYOUT ***************************************/
.fill-top{
   width: 100%;
   height: 65px;
   }
.body-wrap{
   display: flex;
   flex-direction: column;
   
}

.clear{
   clear: both;
}

/********************************** CLASSES***************************************/
.header-wrap{
   background: url(images/intro.jpg)  center/cover  no-repeat, #bfc1c2; 
   background-blend-mode:multiply ;
   margin: 0;
   height: 100vh;
}

.close,
.btn{
   border: none;
   background: linear-gradient(-45deg,#ffb347, #ffa500, #ff8c00);
   box-shadow:0 0 20px 3px rgba(0, 0, 0, .5);
   width: 10em;
   display: block;
   color: #000;
   font-weight: 900;
   padding: 1rem;
   border-radius: 10px;
   text-align: center;
}
.btn:hover,
.close:hover{
   color: #fff;
}
.intro{
   border: none;
   padding: 1.5rem;
   display: flex;
   justify-content: center;
   height: 75%;
}

.intro-content{
   line-height: 1.2;  
   font-size: 1.25rem;
   text-shadow: 1px 1spx 4px rgba(0,0,0,.2);
   display: flex;
   justify-content: center;
   flex-direction: column;
}
.intro-content h2{
   font-size:2.5rem;   
   margin: 0;
}
.description{
   background:linear-gradient(to bottom,#ffa805,#ffad14,#ffb938) ;
   color: black;
}
/********************************** ID'S **********************************/
#about h2{
   border-bottom: 1px solid black ;
   margin-bottom: 1rem;
}
#service h2{
   margin-top: 2rem;
}

#contact img{
   border-radius: 50%;
   margin:1rem 0;   
}
#contact{
   padding-bottom: 2rem;
}
#contact ul{
   padding:0;
}
/********************************** MEDIA QUERIES***************************************/
@media (min-width: 720px) and (max-width:999px) {
   h1{
      font-size: 3rem;
   }
   .intro h2{
      font-size: 4rem;
   }
   .intro p ,.intro a{
      font-size: 1.5rem;
   }
   .content p,
   address{
      font-size: 1.2rem;
   }
   .content h2{
      font-size: 2.1rem;
   }
   .content h3{
      font-size: 1.75rem;
   }

   .flex-row{
      display: flex;
      flex-direction: row;
      margin-top: 1rem;
   }
}

@media (min-width:1000px) {
   h2{
      font-size: 3rem;
   }
   h3,
   .intro p{
      font-size: 2rem;
   }
   p,
   address{
      font-size: 1.5rem;
   }
   .content{
      margin: auto;
      max-width:1000px ;
   }
   #service{
      margin-top: 4rem;
   }
   .intro a{
      font-size: larger;
   }
   .intro h2{
      font-size: 4rem;
   }
   #contact img{
      border-radius: 10px;
      width: 50%;
      float: right;
   }
   #contact h2{
      display: inline;
   }


   .flex-row{
      display: flex;
      flex-direction: row;
      margin-top: 1rem;
   }
   .cancel{
      display: none;
   }
.popup-Mesg,
.popup-SuForm,
.popup-LiForm{
   display: none;
   position: relative;
   right: 0;
   top: 80px;
   width: revert;
   height: revert;
   overflow: auto;
   background:transparent ;
   z-index: revert; 
}


   /****************************Revert Mobile NavBar NEW HEADER*****************************************/
   h1{
      font-size: 2.5rem;
      float: left;
      padding-bottom: 0;
   }

   .header-wrap{
      height: 80vh;
   }
   .overlay{
   height: revert;
   width:revert;
   position: revert;
   z-index: revert;
   left: revert;
   top: revert;
   background:revert;
   overflow-x: revert;
   transition: revert;
}

   .overlay-content{
   position: revert;
   top: revert;
   width: revert;
   text-align:revert;
   margin-top:revert;
   padding:3rem .5rem 0;
   float: right;   
}
   .overlay-content input,
   .overlay a,
   .material-icons{
   font-size: 1.5rem;
}
   .overlay-content input{ 
      width: 20rem;
   }
   .overlay-content input::placeholder{
      color: white;
   }
   .overlay ul{
      float: left;
      padding: 0;
      display: flex;
   }
   .overlay li{
      display: inline;
      padding-right: .5rem;
   }
   .overlay a{
      padding: revert;
      display: revert;
      transition: revert;
   }

   .overlay a:hover, .overlay a:focus{
      color: orange;
   }

   .overlay .closebtn{
      display: none;
   }
   #nav-btn span{
      display: none;
   }
   .searchBar {
      display: inline;
   }
   .dropdown-content {
      display: none;
      position: absolute;
      min-width: 160px;
      z-index: 1;
   }
   .flex-column{
      display: flex;
      flex-direction: column;
   }
   .dropdown:hover .dropdown-content{
      display: block;
   }
   #close_formX{
      display: none;
   }
}

